:host ::ng-deep .ng-animating {
  position: relative;
}

:host ::ng-deep .ng-animating .ng-star-inserted {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes animate-enter {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

:host ::ng-deep .animate-enter .ng-star-inserted {
  animation-name: animate-enter;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes animate-leave {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

:host ::ng-deep .animate-leave .ng-star-inserted {
  animation-name: animate-leave;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
