### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
*.jar
*.war
*.ear
spring-shell.log

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db
